@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Ubuntu:wght@400;500&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}

.top-container {
    width: 100%;
    background: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 20px;
}

/***********************************************NAV-BAR****************************************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  width: 80%;
  height: 87px;
  margin: 0 auto;
  border-radius: 100px;
  backdrop-filter: saturate(135%) blur(10px);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 80px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.nav-logo img:hover {
    transform: scale(1.2);
}

ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

li {
  list-style-type: none;
  font-size: 20px;
  transition: 0.19s cubic-bezier(.45,.05,.55,.95);
  font-family: 'Young serif', serif;
}

li:hover {
    transform: scale(1.2);
}   
  
a {
  text-decoration: none;
  color: #f3ffff;
}
  
a:hover {
  color: #a8e520;
}

/********************************************HOME PAGE*************************************/

.home {
    display: flex;
    width: 90%;
    height: 600px;
    margin: 80px auto; 
    color: #fff;
}

.home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.home-left .heading {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.home-text {
    font-size: 20px;
    width: 80%;
    line-height: 1.5;
    font-family: 'Young serif', serif;
}

.home-btn {
    color: #eae8e4;
    margin-top: 20px;
    background: linear-gradient(to left, #20cec67a, #346677, #448c95d6);
    height: 60px;
    width: 40%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    /*! box-shadow: 6px 6px 6px #238a94, -6px -6px 6px #136e6e; */
    transition: 0.3s;
}
  
.home-btn:hover {
    transform: scale(0.9);
}


.home-right {
    width: 50%;
    border-radius: 30px;
    background: url('home-2.jpg');
    background-size: cover;
}

/********************************************INPUT FORM*************************************/

.form {
  display: flex;
  justify-content: center;
  /* background: url('/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.container {
    width: 40%;
    border-radius: 20px;
    padding: 40px;
    background: linear-gradient(to left, #093342, #3a8088d6);
    box-shadow: 28px -11px 10px #1d3751a8;
    margin: 40px auto;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    font-size: 26px;
    margin-bottom: 30px;
}

.logo img {
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #1e364f, -7px -7px 10px #1e364f;
}

label,
input,
button,
select {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0.09vw;
}
input::placeholder {
  color: gray;
}


input, select {
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}


input:hover {
  border: 3px solid lightgrey;
  transition: all 0.1s;
}

select:hover {
    border: 3px solid lightgrey;
    transition: all 0.1s;
}

.form-btn {
  color: #f8f9ff;
  margin-top: 40px;
  background: linear-gradient(to left, #1f95907a, #205b6f, #193639d6);
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  font-size: 21px;
  box-shadow: 19px 6px 6px #253b51;
  transition: 0.5s;
}

.form-btn:hover {
  box-shadow: none;
}